<div class="header bg-yellow pb-8 pt-5 pt-lg-8 d-flex align-items-center">
	<!-- Mask -->
	<!-- <span class="mask header-color"></span> -->
	<!-- Header container -->
	<div class="container-fluid d-flex align-items-center">
		<div class="row">
			<div class="col">
				<!-- <h1 class="display-2 ">Hello Jesse</h1> -->
				<!-- <p class=" mt-0 mb-5">This is your profile page. You can see the progress you've made with your work and manage your projects or assigned tasks</p> -->

			</div>
		</div>
	</div>
</div>

<div class="container-fluid mt--7">
	<div class="row">
		<div class="col-6">

			<!-- {{ states| json }} -->
			<div class="card shadow">
				<div class="card-header border-0">
					<div class="row">
						<div class="col-8">
							<h3 class="mb-0">State</h3>
						</div>
						<div class="col-4 text-right">
							<button class="btn btn-primary" (click)="openModal(template)">Add State</button>
						</div>
					</div>

				</div>
				<div style="width: 100%; height:auto">
					<perfect-scrollbar>
						<!-- <div class="table-responsive"> -->
						<table datatable [dtOptions]="dtOptions" class="table align-items-center">
							<thead class="thead-light">
								<tr role="row">
									<th scope="col">ID</th>
									<th scope="col">Name</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let state of states" role="row">
									<td>{{ state.stateId }}</td>
									<td>{{ state.stateName }}</td>

								</tr>
							</tbody>
						</table>
						<!-- </div> -->
					</perfect-scrollbar>
				</div>
			</div>
		</div>

		<div class="col-6">
			<div class="card shadow">
				<div class="card-header border-0">
					<div class="row">
						<div class="col-8">
							<h3 class="mb-0">Areas</h3>
						</div>
						<div class="col-4 text-right">
							<button class="btn btn-primary" (click)="openArea(area)">Add Area</button>
						</div>
					</div>

				</div>
				<div style="width: 100%; height:auto">
					<perfect-scrollbar>
						<!-- <div class="table-responsive"> -->
						<table datatable [dtOptions]="dtOptions" class="table align-items-center">
							<thead class="thead-light">
								<tr role="row">
									<th scope="col">ID</th>
									<th scope="col">Area Name</th>
									<th scope="col">State Name</th>

								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let area of areas" role="row">
									<td>{{ area.areaId }}</td>
									<td> {{ area.areaName }} </td>
									<td>{{ area.stateName }}</td>

								</tr>
							</tbody>
						</table>
						<!-- </div> -->
					</perfect-scrollbar>
				</div>
			</div>
		</div>
	</div>

	<div class="row mt-5">

	</div>
</div>


<ng-template #template>
	<div class="modal-header">
		<h4 class="modal-title pull-left">Create State</h4>
		<button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<form name="form" #createState="ngForm" (ngSubmit)="createState.valid && onSubmit(createState.value)">
		<div class="modal-body text-center">
			<div class="row">
				<div class="col-12">

						<div class="input-group input-group-alternative mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text">State Name</span>
							</div>
							<input type="text" required autocomplete="off" name="stateName" #stateName="ngModel"
								[(ngModel)]="model.stateName" class="form-control"
								[ngClass]="{ 'is-invalid': createState.submitted && stateName.invalid }" required />

						</div>

						<div class="input-group input-group-alternative  mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text">Zone</span>
							</div>
							<input type="text" required autocomplete="off" name="zone" #zone="ngModel"
								[(ngModel)]="model.zone" class="form-control"
								[ngClass]="{ 'is-invalid': createState.submitted && zone.invalid }" required />

						</div>


				</div>
			</div>

		</div>
		<div class="modal-footer">
			<button type="submit" [disabled]="!createState.valid" class="btn btn-primary">
					<span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
				Submit
			</button>
			<button type="button" class="btn btn-light" (click)="decline()">Close</button>
		</div>
	</form>
</ng-template>


<ng-template #area>
	<div class="modal-header">
		<h4 class="modal-title pull-left">Create Area</h4>
		<button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<form name="form" #createState="ngForm" (ngSubmit)="createState.valid && onSubmit(createState.value)">
		<div class="modal-body text-center">
			<div class="row">
				<div class="col-12">

					<div class="input-group input-group-alternative mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text">State Name</span>
						</div>
						<select name="stateId" class="form-control custom-select" [(ngModel)]="model.stateId"
							#stateId="ngModel">
						<option *ngFor="let item of states" [value]="item.stateId"> {{ item.stateName }} </option>
					</select>

					</div>

					<div class="input-group input-group-alternative mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text">Area Name</span>
						</div>
						<input type="text" required autocomplete="off" name="areaName" #areaName="ngModel"
							[(ngModel)]="model.areaName" class="form-control"
							[ngClass]="{ 'is-invalid': createState.submitted && areaName.invalid }" required />

					</div>

					<div class="input-group input-group-alternative  mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text">Zone</span>
						</div>
						<input type="text" required autocomplete="off" name="zone" #zone="ngModel" [(ngModel)]="model.zone"
							class="form-control" [ngClass]="{ 'is-invalid': createState.submitted && zone.invalid }" required />

					</div>


				</div>
			</div>

		</div>
		<div class="modal-footer">
			<button type="submit" [disabled]="!createState.valid" class="btn btn-primary">
				<span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
				Submit
			</button>
			<button type="button" class="btn btn-light" (click)="decline()">Close</button>
		</div>
	</form>
</ng-template>
