<div class="header bg-yellow pb-8 pt-5 pt-md-8">
	<div class="container-fluid ">
		<div class="header-body">
			<div class="row">

			</div>
		</div>
	</div>
</div>

<div class="container-fluid mt--7">
	<div class="row">
		<div class="col">
			<div class="card shadow">
				<div class="card-header border-0">
					<h3 class="mb-0">Rider Details</h3>
				</div>
				<div class="card-body">
					<h3> {{ unRiders.firstName }} {{ unRiders.lastName }} </h3>
					<h3> {{ unRiders.email }} </h3>
					<h3>Documents</h3>
					<div style="max-width: 100%;">
						<img [src]="ridersCard" class="riderDocument" alt="" srcset="">
						<img [src]="stageCarriage" class="riderDocument" alt="" srcset="">
						<img [src]="vehicleLicense" class="riderDocument" alt="" srcset="">
					</div>

				</div>
				<div class="card-footer">
					<div class="row">
						<div class="col-md-6">
							<div class="form-row">
								<div class="col-sm-4">
									<label>Rider Type</label>
								</div>
								<div class="col-sm-8">
									<select name="riderType" placeholder="Rider Type" class="custom-select form-control" [(ngModel)]="riderType"
										(ngModelChange)="change(riderType)">
										<option value="internal">Internal</option>
										<option value="external">External</option>
									</select>
								</div>
							</div>
						</div>

						<div class="col-md-6 text-right">
							<button class="btn btn-danger btn-lg" (click)="close()">Reject</button>
							<button class="btn btn-success btn-lg" (click)="accept(unRiders.riderId)">Accept</button>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
