.form-control {

    color: #333232 !important;
    background-color: #eae8df !important;
}

.input-group-text {
    color: #333232 !important;
    background-color: #eae8df !important;
    border: 1px solid #eae8df !important;
}
